---
import IntoScreen from "./IntoScreen.astro";
---

<section id="bg-hero" class="bg-blue-300 relative min-h-[400vh]">
  <div
    id="hero-title"
    class="items-center justify-center flex min-h-screen fixed inset-0 z-20 "
  >
    <img id="img-log" src="/simpsons-title.svg" alt="" class="z-20 " />
    <div
      class="w-full h-full fixed inset-0 flex items-center justify-center z-10 pointer-events-none  "
    >
    <!-- agregamos este estilo como valor inicial para que GSAP reconzca el cambio  border radius -->
      <img
        id="sofa-img-circle"
        src="/sofa.jpg"
        alt="sofa de los simpsons"
        class="h-full w-auto -z-10 mb-20 object-fill aspect-square"
        style="border-radius: 50%; transform: scale(0.09);"
      />     
      <div id="bloque-into-screen" class="fixed w-full min-h-screen ">
      <IntoScreen />
    </div>
    </div>
  </div>



  <script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    // configuración basica que uso con frecuencia para mi estrategia de scroll
    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: "section",
        start: "top top",
        end: "bottom bottom",

        scrub: 1,
      },
    });

    // Ambas animaciones al mismo tiempo usando "<"
    tl.to("#img-log", { scale: 120, duration: 3 })
      .to("#img-log", { y: 5200, duration: 3 }, "<")
      .to("#img-log", { x: -800, duration: 3 }, "<")
      .to("#sofa-img-circle", { marginBottom: "0%" }, "<")
      .to("#sofa-img-circle", {  scale: 1.9,  }, "< ")
      .to("#sofa-img-circle", { scale: 1, borderRadius: "0%"   }, "<0.24")
      .to("#sofa-img-circle", { height: "100%", width: "100%"   }, "<")



      .to("#sofa-img-circle", {  height: "100%", width: "100%"   }, "<")
      .to("#scroll-content", { opacity: 1, duration: 0.2 }, "<")
      // .to("#sofa-img", { opacity: 1 }, "< ") // Aparece el sofá
      // .to("#img-log", { opacity: 0, duration: 8 }, "<")
      // aparece un segundo antes del final de la continuacion de la transicion
      // .to("#content-characters", { opacity: 1, duration: 0.5 }, "<0.4")
      .to("#card-1", { opacity: 1, y: -40, duration: 0.8 }, "<0.7") // Homer
      .to("#card-2", { opacity: 1, y: -40, duration: 0.8 }, "<1.1") // Marge
      .to("#card-3", { opacity: 1, y: -40, duration: 0.8 }, "<1.5") // Bart
      .to("#card-4", { opacity: 1, y: -40, duration: 0.8 }, "<1.9") // Lisa
      .to("#card-5", { opacity: 1, y: -40, duration: 0.8 }, "<2.3"); // Maggie
  </script>

  <style>
    #img-log {
      transform-origin: center center;
    }
  </style>
</section>
