---
import IntoScreen from "./IntoScreen.astro";
---

<section
  id="bg-hero"
  class="relative min-h-[400vh] flex gap-x-4 flex-row overflow-x-hidden"
>
  <div
    id="hero-title"
    class="items-center justify-center flex min-h-screen fixed inset-0 z-20"
  >
    <img id="img-log" src="/simpsons-title.svg" alt="" class="z-20 -mb-20" />
    <div
      class="w-full h-full fixed inset-0 flex items-center justify-center z-10 pointer-events-none"
    >
      <!-- agregamos este estilo como valor inicial para que GSAP reconzca el cambio  border radius -->
      <img
        id="sofa-img-circle"
        src="/sofa.jpg"
        alt="sofa de los simpsons"
        class="h-full w-auto -z-10 object-fill aspect-square"
        style="border-radius: 50%; transform: scale(0.06);"
      />
      <div id="bloque-into-screen" class="fixed w-full min-h-screen">
        <IntoScreen />
      </div>
    </div>
  </div>

  <!-- conrtinero -->
  <div class="w-screen h-full flex justify-center">
    <!-- rieles con nubes -->
    <div
      id="cortina-a"
      class="flex flex-col  z-30 w-full relative"
    >
    <!-- usaremos esta tecnica de absolut para posicionar las nubes conforme la maqueta -->
      <img src="/nube-4.svg" alt=" nube 1" class=" absolute -top-10 left-100 scale-75" />
      <img src="/nube-3.svg" alt=" nube 1" class=" absolute scale-25  left-90 " />

      <img src="/nube-1.svg" alt=" nube 1" class=" absolute   -left-50 top-20 " />
      <img src="/nube-4.svg" alt=" nube 1" class=" absolute scale-75 top-60 left-50" />
      <img src="/nube-2.svg" alt=" nube 1" class=" absolute top-90 scale-120 -left-40" />
      <img src="/nube-3.svg" alt=" nube 1" class=" absolute scale-75 -left-50 top-150" />
      <img src="/nube-6.svg" alt=" nube 1" class=" absolute scale-125  top-170 left-40" />

    </div>

    <div id="cortina-b" class="flex flex-col  w-full relative">
      <img src="/nube-6.svg" alt=" nube 1" class=" absolute  -top-10" />
      <img src="/nube-5.svg" alt=" nube 1" class=" absolute scale-65 top-60  left-10 z-10" />
      <img src="/nube-2.svg" alt=" nube 1" class=" absolute left-75 top-75 z-40" />
      <img src="/nube-2.svg" alt=" nube 1" class=" absolute left-30 top-150 " />
      <img src="/nube-2.svg" alt=" nube 1" class=" absolute  -left-10 top-175 z-20" />
      <img src="/nube-1.svg" alt=" nube 1" class=" absolute  left-95 top-180 " />
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  // configuración basica que uso con frecuencia para mi estrategia de scroll
  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: "section",
      start: "top top",
      end: "bottom bottom",

      scrub: 1,
    },
  });

  // Ambas animaciones al mismo tiempo usando "<"
  tl.to("#img-log", { scale: 120, duration: 3 })
    .to("#img-log", { y: 5200, duration: 3 }, "<")
    .to("#img-log", { x: -800, duration: 3 }, "<")
    // .to("#sofa-img-circle", { marginBottom: "0%" }, "<")
    .to("#sofa-img-circle", { scale: 1.65 }, "< ")
    .to("#cortina-a", { x: -1500 }, "< ")
    .to("#cortina-b", { x: 1500 }, "< ")
    .to("#sofa-img-circle", { scale: 1, borderRadius: "0%" }, "<0.22")
    .to("#sofa-img-circle", { height: "100%", width: "100%" }, "<")

    .to("#card-1", { opacity: 1, y: -40, duration: 0.8 }, "<0.7") // Homer
    .to("#card-2", { opacity: 1, y: -40, duration: 0.8 }, "<1.1") // Marge
    .to("#card-3", { opacity: 1, y: -40, duration: 0.8 }, "<1.5") // Bart
    .to("#card-4", { opacity: 1, y: -40, duration: 0.8 }, "<1.9") // Lisa
    .to("#card-5", { opacity: 1, y: -40, duration: 0.8 }, "<2.3"); // Maggie
</script>

<style>
  #img-log {
    transform-origin: center center;
  }
</style>
